<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>webtoon detail</title>
</head>
<body>
<div>
    <h1>{{webtoon.title}}</h1>

    <ul>
        {% for episode in webtoon.episode_set.all %}
        <li>{{episode.title}}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>